:root{
  --green: #67C23A;
  --red: #F56C6C;
}



/* 元素 */

a{
  text-decoration: none;
}

/* margin  padding */
.mr-12{ margin-right: 12px;}

.pl-20 { padding-left: 20px;}


.flex{
  display: flex;
  align-items: center;
}